
<div class="content-hardsoft">
  <h1> Hard and Soft skills</h1>
  <app-skills  ngClass="text-center col-12  col-md-12 circulo">
  </app-skills>

<!--   <div class="text-center col-12  col-md-4">
    <circle-progress
    [percent]="90"
    [radius]="100"
    [space]="-5"
    [imageSrc]="'assets/imagenes/js.png'"
    [showImage]="true"
    [showUnits]="false"
    [showSubtitle]="false"
    [outerStrokeWidth]="5"
    [innerStrokeWidth]="5"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [imageWidth]="120" [imageHeight]="120"
    [showBackground]="false"
    [animationDuration]="300">
    </circle-progress>
  </div>
  <div class="text-center col-12  col-md-4">
    <circle-progress
    [percent]="90"
    [radius]="100"
    [space]="-5"
    [imageSrc]="'assets/imagenes/CSS.png'"
    [showImage]="true"
    [showUnits]="false"
    [showSubtitle]="false"
    [outerStrokeWidth]="5"
    [innerStrokeWidth]="5"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [imageWidth]="120" [imageHeight]="120"
    [showBackground]="false"
    [animationDuration]="300">
    </circle-progress>
  </div>
  <div class="text-center col-12  col-md-4">
    <circle-progress
    [percent]="90"
    [radius]="100"
    [space]="-5"
    [imageSrc]="'assets/imagenes/git.png'"
    [showImage]="true"
    [showUnits]="false"
    [showSubtitle]="false"
    [outerStrokeWidth]="5"
    [innerStrokeWidth]="5"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [imageWidth]="120" [imageHeight]="120"
    [showBackground]="false"
    [animationDuration]="300">
    </circle-progress>
  </div>
  <div class="text-center col-12  col-md-4">
    <circle-progress
    [percent]="90"
    [radius]="100"
    [space]="-5"
    [imageSrc]="'assets/imagenes/grupal.png'"
    [showImage]="true"
    [showUnits]="false"
    [showSubtitle]="false"
    [outerStrokeWidth]="5"
    [innerStrokeWidth]="5"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [imageWidth]="120" [imageHeight]="120"
    [showBackground]="false"
    [animationDuration]="300">
    </circle-progress>
  </div>
  <div class="text-center col-12  col-md-4">
    <circle-progress
    [percent]="90"
    [radius]="100"
    [space]="-5"
    [imageSrc]="'assets/imagenes/eng.png'"
    [showImage]="true"
    [showUnits]="false"
    [showSubtitle]="false"
    [outerStrokeWidth]="5"
    [innerStrokeWidth]="5"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [imageWidth]="120" [imageHeight]="120"
    [showBackground]="false"
    [animationDuration]="300">
    </circle-progress>
  </div> -->

</div>
