<div class="row">
  <div class="col-xs-12 col-sm-2 col-m-2 col-lg-2">
    <img src="../../../assets/imagenes/perfil.jpg" class="img-fluid" id="fotoDePerfil"/>
  </div>
  <div class="col-xs-12 col-sm-2 col-m-2 col-lg-2">
    <p id="nombre">{{persona.nombre}}{{persona.apellido}}</p>
    <p>Full Stack Developer Jr</p>
  </div>
  <div class="col-xs-12 col-sm-8 col-m-8 col-lg-8">
    <span>
      <h1> About Me </h1>
      <p>Me encuentro avanzando en el desarrollo de software general, estoy en el proceso continuo de la búsqueda de nuevos conocimientos en el área de programación y desarrollo de código. Formándome continuamente en base a la participación en diferentes cursos, sumado a la investigación personal y desarrollo mediante co-workings con aliados estratégicos, con el objetivo de obtener un crecimiento personal alineado con el avance tecnológico. Dentro de mis capacidades se encuentra el trabajo en conjunto y aprendizaje continuo a partir trabajo cotidiano. </p>
    </span>
  </div>
</div>
