<div class="row">
  <div class="col-xs-12 col-sm-2 col-m-2 col-lg-2">
    <img src="../../../assets/imagenes/perfil.jpg" class="img-fluid" id="fotoDePerfil"/>
  </div>
  <div class="col-xs-12 col-sm-2 col-m-2 col-lg-2">
    <p id="nombre">{{persona.nombre}}{{persona.apellido}}</p>
    <p>Full Stack Developer Jr</p>
  </div>
  <div class="col-xs-12 col-sm-8 col-m-8 col-lg-8">
    <span>
      <h1> About Me </h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam asperiores in vel suscipit nisi quisquam
        similique nam ab omnis necessitatibus, quis doloribus sunt maxime porro repellendus, soluta corporis eligendi
        architecto? </p>
    </span>
  </div>
</div>
