<div class="row">
  <h1>Experiencia Laboral</h1>
  <div class="col-lg-1"></div>
  <div class="col-lg-10">
    <ul>
      <li>
        <h1>trabajo 1</h1>-<h3>(years)</h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quod rem
          minus molestias corrupti, corporis dolores optio laborum obcaecati ut
          quo quos facere, itaque voluptatibus temporibus provident fuga
          laboriosam impedit sunt.</p>
      </li>
    </ul>
    <ul>
      <li>
        <h1>trabajo 2</h1>-<h3>(years)</h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quod rem
          minus molestias corrupti, corporis dolores optio laborum obcaecati ut
          quo quos facere, itaque voluptatibus temporibus provident fuga
          laboriosam impedit sunt.</p>
      </li>
    </ul><ul>
      <li>
        <h1>trabajo 3</h1>-<h3>(years)</h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quod rem
          minus molestias corrupti, corporis dolores optio laborum obcaecati ut
          quo quos facere, itaque voluptatibus temporibus provident fuga
          laboriosam impedit sunt.</p>
      </li>
    </ul>
  </div>
</div>
