<div class="row">
  <h1>Proyectos realizados</h1>
  <div class="contendor">
    <div class="col-sm-12 cols sm-md-7 col-lg-7 parte1">
      <h2>Argentina Programa</h2>
      <p>
        Se trata de un programa nacional y federal que tiene como objetivo capacitar a personas en lenguajes y conocimientos sobre programación, testing y habilidades digitales para potenciar la empleabilidad en el sector del software y la tecnología.
      </p>
    </div>
    <div class=" text  center col-sm-12 col-md-3 col-lg-3 offset-md-1 iffset-lg1 parte2">
      <img  class="img-fluid img-proyecto" src="../../../assets/imagenes/paso 2.jpg">
    </div>
  </div>
</div>
